<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script>
    function courseDetails(){
        window.location = "http://localhost:8081/setCourseDetails";
    }
</script>

<body>
    <h1 style="text-align: center; color: darkcyan;">Design a new Course</h1>
    <br><br><br>
    <div>
    <ul>
        <li>
            <h1 onclick="courseDetails()"><label>Step 1: </label> Set up basic details<h1>
            <h1><label>Step 2: </label> Specify evaluators and weightages</h1>
            <h1><label>Step 3: </label> Specify mid sem evaluation scheme</h1>
            <h1><label>Step 4: </label>Specify end sem evaluation scheme</h1>
            <h1><label>Step 5: </label>Assign guides and pannel members</h1>
        </li>
    </ul>
</div>
</body>
</html>