
<html>
<head>
  <title>Admin Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/style.css">


  <style>
 body{
  background: #FFFFE6;
}



  </style>
</head>

<body>

<div class="heading" style="margin-bottom:0; height:150px;" id='heading'>
  <div style="float:left;padding:5% 0% 0% 5%"></div>
<div style="float: left; padding: 5% 0% 0% 0%; margin:0;">
  <h1> MAJOR PROJECT EVALUATION</h1>
  <p>Welcome </p>
</div>

</div>



<section class="container">
 
			        
 <div class="tabs">
	 <span class="tab faculty active">
    <a href="#faculty">faculty</a></span>
	<span class="tab admin">
    <a href="#admin">admin</a></span>
  <span class="tab guest">
    <a href="#guest">guest</a></span>
 </div>
	  <div class="content">
		 <div class="faculty-cont cont">
			 <form action="#" method="post" enctype="multipart/form-data">
<input type="text" id="Tusername" class="inpt" required="required"  placeholder="Username">					<label for="email">Your email/username</label>	                    

<input type="password" id="Tpassword" class="inpt" required="required" placeholder="Your password">
           <label for="password">Your password</label>

	 <div class="submit-wrap">
	 <input type="submit" value="Sign in" class="submit" onclick="checkCredentails()">
	  <a href="#" class="more">Forgot your password?</a>
			   </div>
        	  </form>
    	  </div>
    	  <div class="admin-cont cont">
                <form action="#" method="post" enctype="multipart/form-data">
<input type="text" class="inpt" required="required" name="username" placeholder="Username" id="Ausername">					<label for="email">Your email/username</label>	                    

<input type="password" name="password" id="Apassword" class="inpt" required="required" placeholder="Your password">
           <label for="password">Your password</label>

	 <div class="submit-wrap">
	 <input type="submit" value="Sign in" class="submit" onclick="checkAdminCredentails()">
	  <a href="#" class="more">Forgot your password?</a>
			   </div>
        	  </form>
            </div>
        <div class="guest-cont cont">
                <form action="#" method="post" enctype="multipart/form-data">
<input type="text" name="" class="inpt" required="required" value="" placeholder="username or email">					<label for="email">Your email/username</label>	                    

<input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">
           <label for="password">Your password</label>

	 <div class="submit-wrap">
	 <input type="submit" value="Sign in" class="submit">
	  <a href="#" class="more">Forgot your password?</a>
			   </div>
        	  </form>
            </div>
	 </div>
		  
		    
	</section>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="/function.js"></script>

</body>
<script>
  /**
   * make a post request to check credentials.Redirect if right credentaials
  */
  function checkCredentails() {
    var request = new XMLHttpRequest();
    var u = document.getElementById("Tusername").value;
    var p = document.getElementById("Tpassword").value;
    var params = "u=" + u + "&p=" + p;
    request.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        alert(this.responseText);
        if (this.responseText == "Success") {
          window.location = "http://localhost:8081/teacherHome";
        }
      };
    }
    request.open('POST', 'http://localhost:8081/teacherLogin', true);
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.send(params)
  }
  function checkAdminCredentails(){
    var request = new XMLHttpRequest();
    var u = document.getElementById("Ausername").value;
    var p = document.getElementById("Apassword").value;
    var params = "u=" + u + "&p=" + p;
    request.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        alert(this.responseText);
        if (this.responseText == "Success") {
          window.location = "http://localhost:8081/adminHome";
        }
      };
    }
    request.open('POST', 'http://localhost:8081/adminLogin', true);
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.send(params)

  }
</script>

</html>
