<html>
    <form>
        <h4>Member1- <%= member1 %></h4>
        <% for (var i = 0; i <  fields.length; i++) { %>
           
            <label><%= fields[i] %></label> 
            <input type="text"/>
        <% } %>
    </form>
</html>